{% load static %}
<html>
    <head>
        <title>거누짱</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">최건우 짱짱 짱짱</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>





<!--            <p>published: 이천이십일년사월십구일 네시십오분</p>-->
<!--            <h2><a href="">WTF</a></h2>-->
<!--            <p><strong>SHITTTTTTTTTTTTTT!!!!!!!!!</strong></p>-->

